common:
  security:
    enabled: false
  feign-oauth:
    enabled: false
spring:
  mvc:
    enabled: false
server:
  port: ${SERVER_PORT:8080}
  ssl:
  servlet:
    context-path: /badge-system
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 25
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    protocol: smtp
    default-encoding: UTF-8
#  security:
#    user:
#      name: user
#      password: 123
  application:
    name: cs544-202403-project
  datasource:
    url: jdbc:mysql://${DATABASE_HOST:localhost}:${DATABASE_PORT:3306}/${DATABASE_NAME}?useSSL=false&serverTimezone=UTC
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driverClassName: com.mysql.cj.jdbc.Driver
    hikari:
      maximumPoolSize: 10
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      generate-ddl: true
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  activemq:
    broker-url: ${ACTIVEMQ_BROKER_URL}
    # ActiveMQ broker URL
    user: ${ACTIVEMQ_USERNAME} # Username for the broker
    password: ${ACTIVEMQ_PASSWORD} # Password for the broker

logging:
  level:
    root: INFO
  file:
    name: /CS544/Logging/${spring.application.name}/logs